[submodule "lib/urmem"]
	path = lib/urmem
	url = https://github.com/urShadow/urmem
[submodule "lib/cpptoml"]
	path = lib/cpptoml
	url = https://github.com/skystrife/cpptoml
[submodule "lib/samp-ptl"]
	path = lib/samp-ptl
	url = https://github.com/urShadow/samp-ptl
